.wrapper {
    padding: 24px;
    border-radius: 20px;
    background-color: rgb(207, 203, 203);
    margin-bottom: 32px;
  }
  .title {
    text-align: center;
    font-size: 44px;
    color: rgb(0, 0, 0);
  
  }
  .text {
    text-align: center;
    font-size: 20px;
  }