.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
  }
  .btn-options {
    background: silver;
    color: #0000;
    text-shadow: #0000;
    border: none;
    transition: 0.3s;
  }
  
  .btn-options:active {
    text-shadow: none;
    color: #fff;
    box-shadow:  #0005;
    transition: 0s;
  }
  
  .btn-options {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: 0.1em 0.3em;
  }