.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.btn-options {
  background-color: rgb(207, 203, 203);
  border: none;
  color: white;
  padding: 0.1em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.btn-options:active,
.btn-options:hover {
  background-color: hsl(120, 9%, 19%);
  transform: scale(1.1);
}
