body {
  height: 100vh;
  font-size: 14px;
  letter-spacing: 1.5;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 600px;
  padding: 24px;
  margin: 0 auto;
  background-color: hsl(120, 1%, 56%);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wrapper {
  padding: 24px;
  background-color: rgb(134, 133, 133);
}